templates/get_players.asl.json
{
  "Comment": "State machine to get teams and their players",
  "StartAt": "GetTeams",
  "States": {
    "GetTeams": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:${AWS_REGION}:${AWS_ACCOUNT_ID}:function:GetTeams-${ENV}",
      "ResultPath": "$",
      "Next": "MapToAddPlayersToTeams"
    },
    "MapToAddPlayersToTeams": {
      "Type": "Map",
      "ItemsPath": "$.teams",
      "MaxConcurrency": 1,
      "Iterator": {
        "StartAt": "GetPlayersForThisTeam",
        "States": {
          "GetPlayersForThisTeam": {
            "Type": "Task",
            "Resource": "arn:aws:lambda:${AWS_REGION}:${AWS_ACCOUNT_ID}:function:GetPlayersFromTeam-${ENV}",
            "InputPath": "$",
            "End": true
          }
        }
      },
      "ResultPath": "$",
      "Next": "ParseData"
    },
    "ParseData": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:${AWS_REGION}:${AWS_ACCOUNT_ID}:function:ParseData-${ENV}",
      "ResultPath": "$",
      "End": true
    }
  }
}