templates/player_processing_pipeline.asl.json
{
    "Comment": "A state machine to handle all player processing, predictions, and publishing.",
    "StartAt": "GetDate",
    "States": {
        "GetDate": {
            "Type": "Task",
            "Resource": "arn:aws:lambda:${AWS_REGION}:${AWS_ACCOUNT_ID}:function:CheckCompleted-${ENV}",
            "Next": "CheckCompletion"
        },
        "CheckCompletion": {
            "Type": "Choice",
            "Choices": [
                {
                    "Variable": "$.status",
                    "StringEquals": "normal_run",
                    "Next": "GetTims"
                },
                {
                    "Variable": "$.status",
                    "StringEquals": "first_run",
                    "Next": "Backfill"
                },
                {
                    "Variable": "$.status",
                    "StringEquals": "last_run",
                    "Next": "PublishToDb"
                }
            ]
        },
        "Backfill": {
            "Type": "Task",
            "Resource": "arn:aws:lambda:${AWS_REGION}:${AWS_ACCOUNT_ID}:function:PerformBackfilling-${ENV}",
            "Next": "GetPlayersStateMachine"
        },
        "GetPlayersStateMachine": {
            "Type": "Task",
            "Resource": "arn:aws:states:::states:startExecution.sync",
            "Parameters": {
                "StateMachineArn": "arn:aws:states:${AWS_REGION}:${AWS_ACCOUNT_ID}:stateMachine:GetPlayers-${ENV}",
                "Input": {
                    "input.$": "$"
                }
            },
            "ResultSelector": {
                "players.$": "States.StringToJson($.Output)"
            },
            "ResultPath": "$",
            "Retry": [
                {
                    "ErrorEquals": [
                        "States.TaskFailed"
                    ],
                    "IntervalSeconds": 60,
                    "MaxAttempts": 3,
                    "BackoffRate": 5.0
                }
            ],
            "Next": "CheckIfPlayersOutputIsEmpty"
        },
        "CheckIfPlayersOutputIsEmpty": {
            "Type": "Choice",
            "Choices": [
                {
                    "Variable": "$.players[0]",
                    "IsPresent": false,
                    "Next": "PublishToDb"
                }
            ],
            "Default": "MakePredictions"
        },
        "MakePredictions": {
            "Type": "Task",
            "Resource": "arn:aws:lambda:${AWS_REGION}:${AWS_ACCOUNT_ID}:function:MakePredictions-${ENV}",
            "Next": "GetInjuries"
        },
        "GetInjuries": {
            "Type": "Task",
            "Resource": "arn:aws:lambda:${AWS_REGION}:${AWS_ACCOUNT_ID}:function:GetInjuries-${ENV}",
            "Next": "GetTims"
        },
        "GetTims": {
            "Type": "Task",
            "Resource": "arn:aws:lambda:${AWS_REGION}:${AWS_ACCOUNT_ID}:function:GetTims-${ENV}",
            "Next": "CheckInitialRun"
        },
        "CheckInitialRun": {
            "Type": "Choice",
            "Choices": [
                {
                    "Variable": "$.status",
                    "StringEquals": "first_run",
                    "Next": "SaveToDb"
                },
                {
                    "Variable": "$.status",
                    "StringEquals": "normal_run",
                    "Next": "PublishToDb"
                }
            ]
        },
        "SaveToDb": {
            "Type": "Task",
            "Resource": "arn:aws:lambda:${AWS_REGION}:${AWS_ACCOUNT_ID}:function:Api-${ENV}",
            "Parameters": {
                "players.$": "$.players",
                "date.$": "$.date",
                "method": "POST_BATCH"
            },
            "Next": "UpdateHistory"
        },
        "UpdateHistory": {
            "Type": "Task",
            "Resource": "arn:aws:lambda:${AWS_REGION}:${AWS_ACCOUNT_ID}:function:UpdateHistory-${ENV}",
            "Next": "PublishToDb"
        },
        "PublishToDb": {
            "Type": "Task",
            "Resource": "arn:aws:lambda:${AWS_REGION}:${AWS_ACCOUNT_ID}:function:PublishDb-${ENV}",
            "End": true
        }
    }
}