templates/player_processing_pipeline.asl.json
{
  "Comment": "A state machine to handle all player processing, predictions, and publishing.",
  "StartAt": "GetTodaysPlayers",
  "States": {
    "GetTodaysPlayers": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:${AWS_REGION}:${AWS_ACCOUNT_ID}:function:CheckCompleted-${ENV}",
      "Next": "CheckIfFirstRun"
    },
    "CheckIfFirstRun": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.initial_run",
          "BooleanEquals": true,
          "Next": "BackfillGoalScorerData"
        }
      ],
      "Default": "GetPossibleTimsPicks"
    },
    "BackfillGoalScorerData": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:${AWS_REGION}:${AWS_ACCOUNT_ID}:function:PerformBackfilling-${ENV}",
      "Next": "GetPlayersStateMachine"
    },
    "GetPlayersStateMachine": {
      "Type": "Task",
      "Resource": "arn:aws:states:::states:startExecution.sync",
      "Parameters": {
        "StateMachineArn": "arn:aws:states:${AWS_REGION}:${AWS_ACCOUNT_ID}:stateMachine:GetPlayers-${ENV}",
        "Input": {
          "input.$": "$"
        }
      },
      "ResultSelector": {
        "players.$": "States.StringToJson($.Output)"
      },
      "Next": "GenerateScoringProbabilities"
    },
    "GenerateScoringProbabilities": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:${AWS_REGION}:${AWS_ACCOUNT_ID}:function:MakePredictions-${ENV}",
      "Next": "GetPossibleTimsPicks"
    },
    "GetPossibleTimsPicks": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:${AWS_REGION}:${AWS_ACCOUNT_ID}:function:GetTims-${ENV}",
      "Next": "CheckInitialRun"
    },
    "CheckInitialRun": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.initial_run",
          "BooleanEquals": true,
          "Next": "SaveToHistoricDb"
        }
      ],
      "Default": "PublishToDailyDb"
    },
    "SaveToHistoricDb": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:${AWS_REGION}:${AWS_ACCOUNT_ID}:function:Api-${ENV}",
      "Parameters": {
        "players.$": "$.players",
        "date.$": "$.date",
        "method": "POST_BATCH"
      },
      "Next": "UpdateTopPicksHistory"
    },
    "UpdateTopPicksHistory": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:${AWS_REGION}:${AWS_ACCOUNT_ID}:function:UpdateHistory-${ENV}",
      "Next": "PublishToDailyDb"
    },
    "PublishToDailyDb": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:${AWS_REGION}:${AWS_ACCOUNT_ID}:function:PublishDb-${ENV}",
      "End": true
    }
  }
}
